// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// @import "cover";

@import "header";
@import "index";
@import "font-awesome";
@import "about";
@import "clients-logo";
@import "comman";
@import "counts";
@import "services";
@import "features";
@import "portfolio";
@import "customers-are-saying";
@import "team";
@import "pricing";
@import "faq";
@import "footer";
@import "datatable";
@import "contact-us";

main {
    .container {
        min-height: 500px;
    }
}

body {
    font-family: "Raleway", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}
